
</div>
<footer class="site-footer text-center">
    <p>© 2018 Spark</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
        <li class="list-inline-item"><a href="#">FAQ</a></li>
        <li class="list-inline-item"><a href="#">Contact</a></li>
    </ul>
</footer>
</div>

<script src="/assets/admin/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="/assets/admin/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/admin/node_modules/flot/jquery.flot.js"></script>
<script src="/assets/admin/node_modules/flot/jquery.flot.resize.js"></script>
<script src="/assets/admin/node_modules/flot/jquery.flot.crosshair.js"></script>
<script src="/assets/admin/node_modules/flot/jquery.flot.stack.js"></script>
<script src="/assets/admin/node_modules/flot/jquery.flot.pie.js"></script>
<script src="/assets/admin/node_modules/bxslider/dist/jquery.bxslider.min.js"></script>
<script src="/assets/admin/node_modules/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/assets/admin/node_modules/moment/min/moment.min.js"></script>
<script src="/assets/admin/node_modules/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="/assets/admin/node_modules/summernote/dist/summernote.min.js"></script>
<script src="/assets/admin/node_modules/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/assets/admin/node_modules/morris.js/morris.min.js"></script>
<script src="/assets/admin/node_modules/raphael/raphael.min.js"></script>

<!-- Vendor -->
<script src="/assets/admin/assets/vendor/flot/jquery.flot.tooltip.min.js"></script>
<script src="/assets/admin/assets/vendor/mark/jquery.mark.min.js"></script>
<script src="/assets/admin/assets/vendor/md-snackbars/md-snackbars.min.js"></script>
<script src="/assets/admin/assets/vendor/zabuto/zabuto_calendar.min.js"></script>
<script src="/assets/admin/assets/vendor/jvectormap/jquery-jvectormap-world-mill.js"></script>
<script src="/assets/admin/assets/vendor/jvectormap/jquery-jvectormap-africa-mill.js"></script>
<script src="/assets/admin/assets/vendor/jvectormap/jquery-jvectormap-asia-mill.js"></script>
<script src="/assets/admin/assets/vendor/jvectormap/jquery-jvectormap-cn-mill.js"></script>
<script src="/assets/admin/assets/vendor/jvectormap/jquery-jvectormap-europe-mill.js"></script>
<script src="/assets/admin/assets/vendor/jvectormap/jquery-jvectormap-in-mill.js"></script>
<script src="/assets/admin/assets/vendor/jvectormap/jquery-jvectormap-north_america-mill.js"></script>
<script src="/assets/admin/assets/vendor/jvectormap/jquery-jvectormap-oceania-mill.js"></script>
<script src="/assets/admin/assets/vendor/jvectormap/jquery-jvectormap-south_america-mill.js"></script>
<script src="/assets/admin/assets/vendor/jvectormap/jquery-jvectormap-uk_countries-mill.js"></script>
<script src="/assets/admin/assets/vendor/jvectormap/jquery-jvectormap-us-aea.js"></script>
<script src="/assets/admin/node_modules/gmaps/gmaps.min.js"></script>

<!-- Theme -->
<script src="/assets/admin/assets/js/spark.js"></script>
<script src="/assets/admin/assets/js/pages/dashboard.js"></script>

<script>
    $(document).ready(function () {
        Spark.init();
        Page.init();
    });

</script>
</body>
</html>