<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Spark ― Admin Theme</title>

    <!-- External fonts -->
    <link href="https://brick.a.ssl.fastly.net/Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- NPM Packages -->
    <link href="/assets/admin/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/admin/node_modules/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/assets/admin/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/admin/node_modules/summernote/dist/summernote.css" rel="stylesheet">
    <link href="/assets/admin/node_modules/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="/assets/admin/node_modules/morris.js/morris.css" rel="stylesheet">

    <!-- Vendor -->
    <link href="/assets/admin/assets/vendor/md-snackbars/md-snackbars.min.css" rel="stylesheet">
    <link href="/assets/admin/assets/vendor/zabuto/zabuto_calendar.min.css" rel="stylesheet">
    <link href="/assets/admin/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Theme -->
    <link href="/assets/admin/assets/css/spark.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/assets/admin/js/html5shiv.min.js"></script>
    <script src="/assets/admin/js/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
    <link type="text/css" rel="stylesheet" charset="UTF-8"
          href="https://translate.googleapis.com/translate_static/css/translateelement.css">
</head>
<body>
<div class="splash">
    <div class="icon"></div>
</div>
<div class="wrapper">
    <nav class="navbar navbar-spark navbar-toggleable navbar-expand-md">
        <div class="container-fluid">
            <button type="button" class="sidebar-open d-lg-none">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand d-none d-lg-inline-block" href="admin.html">
                <i class="ion ion-ios-pulse-strong" aria-hidden="true"></i>
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Profile</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><i class="ion ion-person"></i> View Profile</a></li>
                        <li><a class="dropdown-item" href="#"><i class="ion ion-chatbubbles"></i> Contacts</a></li>
                        <li><a class="dropdown-item" href="#"><i class="ion ion-email"></i> Mailbox</a></li>
                        <li><a class="dropdown-item" href="#"><i class="ion ion-gear-b"></i> Settings</a></li>
                        <li role="separator" class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="ion ion-log-out"></i> Sign out</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Messages</a>
                    <div class="dropdown-menu dropdown-md">

                        <div class="media-items">
                            <div class="media">
                                <div class="media-left mr-1">
                                    <a href="#">
                                        <img class="media-object img-circle" src="/assets/admin/assets/img/avatar-500x500.png"
                                             width="38" height="38">
                                    </a>
                                </div>
                                <div class="media-body text-muted">
                                    <p class="media-heading">Linda Miller</p>
                                    <span class="text-sm">Aenean posuere, tortor sed..</span>
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left mr-1">
                                    <a href="#">
                                        <img class="media-object img-circle" src="/assets/admin/assets/img/avatar-500x500-2.png"
                                             width="38" height="38">
                                    </a>
                                </div>
                                <div class="media-body text-muted">
                                    <p class="media-heading">Kathie Burton</p>
                                    <span class="text-sm">Nam pretium turpis et arcu..</span>
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left mr-1">
                                    <a href="#">
                                        <img class="media-object img-circle" src="/assets/admin/assets/img/avatar-500x500.png"
                                             width="38" height="38">
                                    </a>
                                </div>
                                <div class="media-body text-muted">
                                    <p class="media-heading">Linda Miller</p>
                                    <span class="text-sm">Aenean posuere, tortor sed..</span>
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left mr-1">
                                    <a href="#">
                                        <img class="media-object img-circle" src="/assets/admin/assets/img/avatar-500x500-2.png"
                                             width="38" height="38">
                                    </a>
                                </div>
                                <div class="media-body text-muted">
                                    <p class="media-heading">Kathie Burton</p>
                                    <span class="text-sm">Nam pretium turpis et arcu..</span>
                                </div>
                            </div>
                        </div>

                        <a class="dropdown-menu-footer" href="#">
                            View all
                        </a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Tasks</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-md last-dropdown">

                        <div class="dropdown-task text-muted">
                            <div class="pull-right text-sm">50%</div>
                            Google Chrome Extension
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%"
                                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="dropdown-task text-muted">
                            <div class="pull-right text-sm">90%</div>
                            Bootstrap Admin Theme
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 90%"
                                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="dropdown-task text-muted">
                            <div class="pull-right text-sm">33%</div>
                            YouTube Client
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 33%"
                                     aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="dropdown-task text-muted">
                            <div class="pull-right text-sm">40%</div>
                            Form Validation
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <a class="dropdown-menu-footer" href="#">
                            View all
                        </a>

                    </div>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <img src="../assets/img/avatar-500x500.png" alt="Avatar" width="48" height="48"
                             class="avatar img-circle">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 page-title-wrapper">
                    <h1 class="page-title">Dashboard</h1>
                    <h2 class="page-subtitle">Statistics</h2>
                </div>
                <div class="col-sm-4 d-none d-md-inline-block page-search-wrapper">
                        <input type="hidden" name="c" value="page">
                        <input type="hidden" name="m" value="search">
                        <input type="text" id="keyword" name="s" class="form-control form-control-lg keyword-search"
                           placeholder="Search for files &amp; reports..">
                </div>
            </div>
        </div>
    </header>
    <div class="page-sidebar toggled sidebar">
        <nav class="sidebar-collapse d-none d-lg-block">
            <i class="ion ion-ios-arrow-forward show-on-collapsed"></i>
            <i class="ion ion-ios-arrow-back hide-on-collapsed"></i>
        </nav>

        <ul class="nav nav-pills nav-stacked" id="sidebar-stacked">
            <li class="d-lg-none">
                <a href="#" class="sidebar-close"><i class="ion ion-ios-arrow-left"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin.php?c=news&m=index"><i class="ion ion-ios-home"></i> <span
                        class="nav-text">新闻管理</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-container" data-toggle="collapse" data-parent="#sidebar-stacked" href="#p1">
                    <i class="ion ion-ios-flask"></i> <span class="nav-text">User Interface <span
                        class="badge badge-pill badge-nav badge-warning">6</span></span>
                </a>
                <ul class="nav nav-pills nav-stacked collapse" id="p1">
                    <li class="nav-item"><a class="nav-link" href="ui-buttons.html">Buttons</a></li>
                    <li class="nav-item"><a class="nav-link" href="ui-grid.html">Grid</a></li>
                    <li class="nav-item"><a class="nav-link" href="ui-typography.html">Typography</a></li>
                    <li class="nav-item"><a class="nav-link" href="ui-icons.html">Icons</a></li>
                    <li class="nav-item"><a class="nav-link" href="ui-images.html">Images</a></li>
                    <li class="nav-item"><a class="nav-link" href="ui-components.html">Components</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-container dropdown-toggle" data-toggle="collapse" data-parent="#sidebar-stacked"
                   href="#p2">
                    <i class="ion ion-ios-pie"></i> <span class="nav-text">Charts</span>
                </a>
                <ul class="nav nav-pills nav-stacked collapse" id="p2">
                    <li class="nav-item"><a class="nav-link" href="chart-flot.html">Flot Chart</a></li>
                    <li class="nav-item"><a class="nav-link" href="chart-morris.html">Morris Chart</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-container" data-toggle="collapse" data-parent="#sidebar-stacked" href="#p3">
                    <i class="ion ion-ios-copy"></i> <span class="nav-text">Custom Pages <span
                        class="badge badge-pill badge-nav badge-warning">4</span></span>
                </a>
                <ul class="nav nav-pills nav-stacked collapse" id="p3">
                    <li class="nav-item"><a class="nav-link" href="page-login.html">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="page-register.html">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="page-reset-password.html">Reset Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="page-lock-screen.html">Lock Screen</a></li>
                    <li class="nav-item"><a class="nav-link" href="page-blank.html">Blank Page</a></li>
                    <li class="nav-item"><a class="nav-link" href="page-error-404.html">404 Page</a></li>
                    <li class="nav-item"><a class="nav-link" href="page-error-500.html">500 Page</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-container dropdown-toggle" data-toggle="collapse" data-parent="#sidebar-stacked"
                   href="#p4">
                    <i class="ion ion-ios-paper"></i> <span class="nav-text">Forms</span>
                </a>
                <ul class="nav nav-pills nav-stacked collapse" id="p4">
                    <li class="nav-item"><a class="nav-link" href="form-elements.html">Form Elements</a></li>
                    <li class="nav-item"><a class="nav-link" href="form-validation.html">Form Validation</a></li>

                    <li class="nav-item"><a class="nav-link" href="form-summernote.html">Summernote</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-container dropdown-toggle" data-toggle="collapse" data-parent="#sidebar-stacked"
                   href="#p5">
                    <i class="ion ion-ios-list"></i> <span class="nav-text">Tables</span>
                </a>
                <ul class="nav nav-pills nav-stacked collapse" id="p5">
                    <li class="nav-item"><a class="nav-link" href="table-basic.html">Basic Table</a></li>
                    <li class="nav-item"><a class="nav-link" href="table-data.html">Data Table</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-container" href="/admin.php?c=category&m=index">
                    <i class="ion ion-ios-calendar"></i> <span class="nav-text">分类管理</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-container dropdown-toggle" data-toggle="collapse" data-parent="#sidebar-stacked"
                   href="#p7">
                    <i class="ion ion-ios-location"></i> <span class="nav-text">Maps</span>
                </a>
                <ul class="nav nav-pills nav-stacked collapse" id="p7">
                    <li class="nav-item"><a class="nav-link" href="map-google.html">Google Maps</a></li>
                    <li class="nav-item"><a class="nav-link" href="map-vector.html">Vector Maps</a></li>
                </ul>
            </li>
        </ul>
    </div>